<!DOCTYPE html>
{% load static %}
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First App</title>
    <link rel="stylesheet" href="{% static "css/mystyles.css" %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Black Navbar</a>
      </nav>

    <div class="container">
    
        <h1>Hi Welcome to the First App Page</h1>
        <h2>Here are some records of pages visited:</h2>
        
        <div>
            {% if access_records %}
            <table class="table">
                <thead>
                    <th>Website Name</th>
                    <th>Date Accessed</th>
                </thead>

                {% for item in access_records %}
                <tr>
                    <td>{{ item.name}}</td>
                    <td>{{ item.date}}</td>
                </tr>
                {% endfor %}

            </table>
            {% else %}
            <p>No Access Data Found.</p>
            {% endif %}
        </div>

    </div>

</body>
</html>