<!DOCTYPE html>
{% load static %}
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First App</title>
    <link rel="stylesheet" href="{%static "css/mystyles.css"%}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Black Navbar</a>
      </nav>

    <div class="container">
    
        <h1>Hello this come from index.html</h1>
    
        <em>{{ insert_me }}</em>

        <div >
            <img class="img-thumbnail image-container w-50 h-50" src="{% static "images\person-311134_1280.webp" %}" alt="Uh oh img not found">
        </div>
    
    
    </div>

</body>
</html>